PORT=3000
OPENAI_API_KEY="sk-**********************"
OPENAI_MODEL=gpt-4.1
OPENAI_ANALYSIS_PROMPT="Promt"

APP_NAME=Briefify.de
COMPANY_NAME=Briefify.de
OWNER_NAME=Max Payne
STREET_ADDRESS=NMax Payne Str. 13
POSTAL_CODE=98765
CITY=Berlin
COUNTRY=Deutschland
VAT_ID=DE000000000
SUPPORT_EMAIL=info@briefify.de
CONTACT_EMAIL=info@briefify.de

MAX_FILE_SIZE_BYTES=10485760
RATE_LIMIT_WINDOW_MS=600000
RATE_LIMIT_MAX_REQUESTS=10
TEXT_EXTRACTION_MIN_CHARS=120
